R Studio
R Packages
install.packages("shiny")
install.packages("shinydashboard")
install.packages("ggplot2")
install.packages("gridExtra")
install.packages("caTools")
install.packages("DT")
install.packages("dplyr")
install.packages("shinyalert")
install.packages("caret")
install.packages("ERSA")
install.packages("jtools")
install.packages("ggstance")
